* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, (minmax (300px, 1fr)));
    grid-gap: 1rem;
}

article {
    border: 1px solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
}